* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.GET {
  background-color: #155BB4;
}

.POST {
  background-color: #00B445;
}

.PUT {
  background-color: #CB872B;
}

.DELETE {
  background-color: #B1002A;
}

h1 {
  text-align: center;
}

button {
  background: none;
  border: none;
  width: 100px;
  height: 50px;
  color: white;
  margin: 20px;
  box-shadow: 0px 0px 7px black;
  transition: background-color 0.2s linear;
}

button:hover {
  background-color: rgb(42, 118, 218);
}

.event-list {
  list-style-type: none;
  margin-left: 20px;
}

.event-list li {
  padding: 20px;
  margin-bottom: 10px;
  width: 50%;
  background-color: #f7f7f7;
}

.event-list li p {
  margin-bottom: 5px;
}