<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="lib/angular.min.js"></script>

    <script src="js/app.js"></script>

    <script src="lib/module.js"></script>

    <script src="js/service.js"></script>

    <link rel="stylesheet" href="css/style.css">

    <title>Angular App Demo</title>
  </head>

  <body ng-app="little_board" ng-controller="Main as vm">

    <h1>{{vm.title}}</h1>
    <button class="GET" ng-click="vm.getData()">GET Data</button>

    <ul class="event-list" ng-model="vm.events">
      <li ng-repeat="event in vm.events" >
        <p>Name: {{event.name}}</p>
        <p>Date: {{event.date}}</p>
        <p>Postcode: {{event.postcode}}</p>
      </li>
    </ul>

    <button class="POST" >POST Data</button>

  </body>

</html>